<!-- 动态组件示例 -->
<div style="background: lightblue;">
  <app-ad-banner [ads]="ads"></app-ad-banner>
</div>
<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-product-list #list></app-product-list> -->
</div>
<!-- 通过服务实现组件之间的双向通信+内容投影 -->
<div style="margin-top: 1rem;">
  <button [routerLink]="['/msg']">点击测试！</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->